@import url('https://fonts.cdnfonts.com/css/neue-plak');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Neue Plak', sans-serif;
                                                
}

body {
    background-color: #1e1e1e;
    position: relative;
    z-index: 1;
}

body::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    clip-path: circle(0.0% at 100% 50%);
    z-index: 99;
    animation: Anim 2s forwards linear;
}

@keyframes Anim {
    0% {
        clip-path: circle(10.0% at 100% 50%);
    }
    40% {
        clip-path: circle(80.0% at 100% 50%);
    }
    60% {
        clip-path: circle(30.0% at 100% 50%);
    }
    90% {
        clip-path: circle(130.0% at 100% 50%);
        opacity: 1;
        z-index: 99;
    }
    100% {
        clip-path: circle(200.0% at 100% 50%);
        opacity: 0;
        z-index: -1;

    }
}

/* button{
    background-color: #1e1e1e;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: none;
    position: relative;
    color: rgba(255, 255, 255, 0.8);
    transform:translateX(-80px) ;
    opacity: 0;
    animation: Anim_reveal 1s 2.7s forwards linear;
}

button::after {
    content: "";
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    background: url(images/);
} */

#NavLogo{
    /* margin-bottom: 50px; */
}

#NavLogo img{
    width: 140px;
}

#main {
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
    z-index: 1;
}


nav {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12%;
    position: relative;
    border-bottom: 0.1px solid rgba(131,131,131,0.4) ;
}

@keyframes Anim_reveal {
    100% {
        transform: translate(0px);
        opacity : 1;
    }
}

.logo{
    min-width: 130px;
    transform: translate(-200px);
    opacity: 0;
    animation: Anim_reveal 1s 2s forwards linear;
}

#menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    transform: translate(-200px);
    opacity: 0;
    animation: Anim_reveal 1s 2s forwards linear;
}


#menu li a {
    font-size : 18px;
    font-weight: 800;
    letter-spacing: 1.5px;
    color: #fff;
    transition: all ease 0.5s;
}


#menu li a:hover{
    color: #ffe357;
}


.bars {
    display: none;
    border: 1px solid #1e1e1e;
}

